.section-test{
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column; 
    margin: auto;
    margin-top: 0rem;
  
}
.test-img{
    display: block;
    width: 100%;
    height: 17.9rem;
    background-image: url(../img/testimcimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0rem;
}
.test-contenido{
    width: 100%;
    height: auto;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -2rem;
    border-radius: 3rem;
    padding: 2rem;
}
/*FORMULARIO 1 PREGUNTA*/
.formulario-nombre{
    
}

label h2{
    font-size: var(--parrafo);
    color: var(--gris-oscuro);
    margin-top: 5.8rem;
    margin-left: 1.7rem;
}
input{
    width: 90%;
    height: 3.5rem;
    display: flex;
    margin: auto;
    margin-top: 1.7rem;
    padding: 1rem;
    background-color: var(--verde-claro2);
    outline: none;
    border: 0;
}
.boton{
    display: block;
    width: 13.9rem;
    height: 3.2rem;
    background-color: var(--verde-oscuro);
    border-radius: 2.1rem;
    border: none;
    margin: auto;
    margin-top: 20.7rem;
    float: right;
    cursor: pointer;
    
}
.boton h2{
    color: var(--blanco);
    text-align: center;
    font-size: var(--h2);
    
}
/*FORMULARIO 2 PREGUNTA*/
.formulario-imc{
    display: none;
}
.peso{
    margin-top: 1rem;
}
.caja-botones{
    width: 90%;
    height: 5rem;
    display: flex;
    margin: auto;
    margin-top: 9.9rem;
    justify-content: space-between;
    align-items: center;
    
}
button{
    display: block;
    width: 12rem;
    height: 4rem;
    background-color: var(--verde-oscuro);
    border-radius: 2.1rem;
    border: none;
    cursor: pointer;
}
.btn-anterior{
    display: block;
    width: 12rem;
    height: 4rem;
    background-color: var(--verde-oscuro);
    border-radius: 2.1rem;
    border: none;
    cursor: pointer;
}
button h2{
    color: var(--blanco);
    text-align: center;
    font-size: var(--h2);   
}
.activarCaja{
    display: block;
}
.desactivarCaja{
    display: none;
}